# Compiled class files
*.class
bin/
target/
build/

# Log files
*.log

# IDE specific files
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS specific files
.DS_Store
Thumbs.db

# Package files
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat
